@import url('normalize.css');
@import url('demo.css');

#chart-container {
	width: 1000px; 
	margin: 0 auto 50px auto;
	background: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	padding: 20px 30px;
}

#chart-container h2 {
	color: #444;
	margin: 0 0 10px;
	font-weight: 300;
	padding: 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 24px;
}

svg {
	font-family: 'Lato', Arial, serif;
	font-size: 10px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

text.country-title {
	font-size: 20px;
}

text.instructions {
	font-size: 16px;
}

g.context g.brush rect.background {
	background: url(http://4206e9.medialib.glogster.com/media/69e15b92f6b0e39d35461277fd892c1ccbecb018d63df297774af4033de3b43d/the-word-hello-2.jpg) no-repeat;
 	background-size: 100%;
}

g.context g.axis path {
	stroke-opacity: 0;
}

g.context g.axis line {
	stroke-opacity: .1;
}

g.klf4 path.chart {
	fill: rgba(127,201,127,0.5);
}

g.sox2 path.chart {
	fill: rgba(127,201,174,0.5);
}

g.nanog path.chart {
	fill: rgba(127,183,201,0.5);
}

g.tcfcp2l1 path.chart {
	fill: rgba(127,130,201,0.5);
}

g.esrrb path.chart {
	fill: rgba(171,127,201,0.5);
}

.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

g.context rect.background{
background: url(http://4206e9.medialib.glogster.com/media/69e15b92f6b0e39d35461277fd892c1ccbecb018d63df297774af4033de3b43d/the-word-hello-2.jpg) no-repeat;
 	background-size: 100%;
}​
